<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set the character encoding for the document -->
    <meta charset="UTF-8">
<script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '4913089ab2c89958997ab8d88e7121f7050be7b0', { region: 'eu' });
</script>

<script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '4913089ab2c89958997ab8d88e7121f7050be7b0', { region: 'eu' });
</script>

    <!-- Define the viewport settings for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Set the favicon for the website -->
    <link rel="icon"
        href="https://images.pexels.com/photos/4497591/pexels-photo-4497591.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">

    <!-- Link to an external stylesheet for styling specific to this page -->
    <link rel="stylesheet" href="/css/login.css">

    <!-- Set the title of the login page -->
    <title>Login</title>
</head>

<body>
    <!-- Start of the webpage body -->
    <header>
        <!-- Header section containing the logo -->
        <img src="/assets/D.A.T (7).png" alt="logo">
    </header>

    <section>
        <!-- Section for the login form -->

        <!-- Heading for the login section -->
        <h1>Login</h1>

        <!-- Form for user login, sending data to /login endpoint using the POST method -->
        <form action="/login" method="post">
            <div>
                <!-- Label and input field for username -->
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" autocomplete="given-name" required>

                <!-- Label and input field for password -->
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" required>

                <!-- Login button -->
                <div class="btn">
                    <button type="submit">Login</button>
                </div>
            </div>
        </form>

        <!-- Link to register page for users who don't have an account -->
        <p>Don't have an account? <a href="/register">Register</a></p>
    </section>
</body>

</html>
