html {
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 22rem;
    box-sizing: inherit;
    background-color: #13113C;
    font-family: 'Lato', sans-serif;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}







main {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;

}

img {
    width: 9vw;
    height: 5vh;
    border-radius: 10px;
}




/* Style for the pie chart */
.ch {
    width: 500px;
    height: 260px;

}

/* Style for the stock list and table sections */

.container2 {
    width: 60vw;

    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    color: black;
    padding: 10px 5px 10px 3px;


}


.space-top {
    margin-top: 10px;

}

section,
.two {
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.container3 {
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}

.content-section {
    width: 60vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    align-items: flex-start;
    background-color: white;
    gap: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.table-section {
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 20px;
    width: 60vw;
}


h1 {
    margin-bottom: 20px;
    text-decoration: underline;
}

.container2 {
    /* ... existing styles ... */
    position: relative;
    /* Add relative positioning */
}

.question-mark {
    position: top;
    top: 0;
    right: 0;
    font-size: 14px;
    cursor: pointer;
}

.explanation {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-mark:hover+.explanation {
    display: block;
}

h2 {
    margin-top: 20px;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 18px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: aliceblue;
}

th:nth-child(4),
td:nth-child(4) {
    text-align: center;
}


#btn {
    color: white;
    background-color: #4CAF50;
}



button {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
}

button:hover {
    background-color: #c9302c;
    transition: 600ms;
    border-radius: 10px;
}






/* Style for the ul with suggestions */
#suggestions {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;


    max-height: 7 0px;
    overflow-y: auto;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}




.alert {
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
}

.alert .message {
    font-size: 16px;
    font-weight: bold;
}

.alert .button {
    background-color: #28a745;
    border: none;
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.alert .button:hover {
    background-color: #1d9138;
}



/* Style the active pagination link */
header {
    width: 100vw;
    border: 2px solid white;
    margin: 0 0 10px 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}img {
    width: 9vw;
    /* Set width */
    height: 5vh;
    /* Set height */
    border-radius: 10px;
    /* Add rounded corners */
}

/* Add hover effect to images */
img:hover {
    border-radius: 20px;
    /* Increase border radius on hover */
    box-shadow: 1px 1px 9px yellow;
    /* Add shadow on hover */
    transition: 600ms;
    /* Smooth transition effect */
    cursor: pointer;
    /* Change cursor on hover */
    border-color: white;
    /* Change border color on hover */
}
  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #13113C;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #13113C;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Style anchor links */
a {
    color: white;
    /* Text color */
}

/* Style active navigation links */
.active-link {
    border: 1px solid yellow;
    width: fit-content;
    /* Add border */
    border-radius: 5px;
    /* Add rounded corners */
}

/* Style anchor links on hover and when active */
li>a:hover,
a:active {
    text-decoration: underline;
 
    /* Add underline on hover */
    color: yellow;
    /* Text color change to yellow */
    border: 3px solid white;
    border-radius: 5px;
    
    transition: 400ms;
    /* Smooth transition effect */
}
li>a:hover{
    width: fit-content;
}

/* Style the footer */
footer {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}


/* Style pagination links */
.pagination a {
    color: white;
    /* Text color */
    padding: 8px 16px;
    /* Add padding around links */
    text-decoration: none;
    /* Remove default underline */
    transition: background-color .3s;
    /* Smooth background color transition */
}

/* Style the active pagination link */
.pagination a.active {
    background-color: black;
    /* Background color change */
    color: white;
    /* Text color change */
}

/* Style pagination links on hover (excluding active link) */
.pagination a:hover:not(.active) {
    background-color: black;
    /* Background color change on hover */
}



@media (max-width: 990px) {
    header{
        width: 100vw;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: left;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

   .brand-title>img {
        width: 19vw;
        /* Set width */
        height: 5vh;
        /* Adjust height automatically */
    }

    .content-section {
        flex-direction: column;
    }
 
}

@media (min-width: 356px)and (max-width: 650px) {
  
    header{
        width: 100vw;
    }
   
.ch{
    width: 240px;
}
    .content-section {
        flex-direction: column;
    }
    table {
        font-size: 12px; /* Reduce font size for smaller screens */
    }

    th,
    td {
        padding: 4px; /* Reduce cell padding for smaller screens */
    }


    th:nth-child(4),
    td:nth-child(4) {
        text-align: center;
    }

    button {
        padding: 2px 6px;
        ;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: left;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

   img {
        width: 19vw;
        /* Set width */
        height: 5vh;
        /* Adjust height automatically */
    }
 
}
