<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set the character encoding for the document -->
    <meta charset="UTF-8">

    <!-- Define the viewport settings for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Set the favicon for the website -->
    <link rel="icon"
        href="https://images.pexels.com/photos/4497591/pexels-photo-4497591.jpeg?auto=compress&cs=tinysrgb&w=800">

    <!-- Link to an external stylesheet for styling specific to this page -->
    <link rel="stylesheet" href="/css/landing.css">

    <!-- Preconnect to external font resources -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Link to an external font family from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <!-- Set the title of the webpage -->
    <title>Stock Landing Page</title>
</head>

<body>
    <header>
        <!-- Header section containing navigation -->

         
        <nav class="navbar">
            <div class="brand-title">  <img src="/assets/logo.png" alt="Logo"></div>
            <a href="#" class="toggle-button">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </a>
            <div class="navbar-links">
              <ul>
                <li><a href="/index">Home</a></li>
                <li > <a href="/api">Stock Fundamentals</a></li>
                <li> <a  href="/news">Stocks News</a></li>
                <li> <a href="/asian">Asian Stocks</a></li>
                <li> <a class="active-link" href="/land">About us</a></li>
                <li> <a href="/sitemap">Sitemap</a></li>
                <li> <a  href="/video">Video</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </nav>
    </header>
    <section>
        <!-- First section containing content about the platform -->

        <div class="content">
            <h1>Digital Asset Tracker</h1>
            <p>Digital Asset Tracker is your ultimate destination for all things stocks. Our platform combines
                cutting-edge technology
                with an intuitive user interface to provide you with the tools you need to make informed investment
                decisions. Whether you're a seasoned investor or just getting started, our features are designed to
                cater to your needs. Our platform can be accessed anywhere on the planet provided you have an internet
                connection and an android, iOS, or any other modern device.</p>
        </div>

    </section>
    <section>
        <!-- Second section containing content about portfolio tracking -->

        <div class="content-box1">
            <img src="https://images.pexels.com/photos/6771607/pexels-photo-6771607.jpeg?auto=compress&cs=tinysrgb&w=2460"
                alt="Image 2" class="img1">
        </div>
        <div class="content">
            <h2>Portfolio Tracker</h2>
            <p>Colourful dashboard which displays the progress of your portfolio in great detail. Our intuitive
                portfolio tracker lets you effortlessly monitor the performance of your investments in real time.</p>
        </div>
    </section>
    <section>
        <!-- Third section containing content about financial news -->

        <div class="content">
            <h2>Financial News</h2>
            <p>Stay ahead of market trends with our up-to-the-minute financial news coverage. Our platform aggregates
                news from trusted sources, offering you a comprehensive view of events impacting the market.</p>
        </div>
        <div class="content-box">
            <img src="https://images.pexels.com/photos/6802042/pexels-photo-6802042.jpeg?auto=compress&cs=tinysrgb&w=1920"
                alt="Image 1" class="img1">
        </div>
    </section>
    <section>
        <!-- Fourth section containing content about stock fundamentals -->

        <div class="content-box">
            <img src="https://images.pexels.com/photos/7947758/pexels-photo-7947758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Image 1" class="img1">
        </div>
        <div class="content">
            <h2>Stock Fundamentals</h2>
            <p>Uncover vital information about companies, including key financial metrics, earnings history, valuation
                ratios, and more.</p>
        </div>

        <footer>
            <!-- Footer section with pagination links -->
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="/index">1</a>
                <a href="/news">2</a>
                <a href="/asian">3</a>
                <a href="/sitemap">4</a>
                <a href="/api">5</a>
                <a href="/video">6</a>
                <a href="#">&raquo;</a>
            </div>
        </footer>
    </section>
    <script src="/js/video.js"></script>
</body>

</html>