<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set the character encoding for the document -->
    <meta charset="UTF-8">

    <!-- Define the viewport settings for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Set the favicon for the website -->
    <link rel="icon"
        href="https://images.pexels.com/photos/4497591/pexels-photo-4497591.jpeg?auto=compress&cs=tinysrgb&w=800">

    <!-- Preconnect to external font resources -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Link to an external font family from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <!-- Link to an external stylesheet for styling specific to this page -->
    <link rel="stylesheet" href="/css/sitemap.css">

    <!-- Set the title of the Sitemap page -->
    <title>Sitemap</title>
</head>

<body>
    <!-- Start of the webpage body -->
    <header>
        <!-- Header section containing navigation -->

        <nav class="navbar">
            <div class="brand-title">  <img src="/assets/logo.png" alt="Logo"></div>
            <a href="#" class="toggle-button">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </a>
            <div class="navbar-links">
              <ul>
                <li><a href="/index">Home</a></li>
                <li > <a href="/api">Stock Fundamentals</a></li>
                <li> <a href="/news">Stocks News</a></li>
                <li> <a href="/asian">Asian Stocks</a></li>
                <li> <a href="/land">About us</a></li>
                <li> <a class="active-link" href="/sitemap">Sitemap</a></li>
                <li> <a  href="/video">Video</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </nav>
    </header>

    <div class="container">
        <!-- Container for sitemap content -->

        <div class="sitemap">
            <!-- Sitemap section -->

            <!-- Section title for Stock Dashboard -->
            <div class="section">Stock Dashboard</div>

            <!-- Page link for Portfolio -->
            <div class="page"><a href="/index">Portfolio</a></div>



            <!-- Section title for Stock Fundamentals -->
            <div class="section">Stock Fundamentals</div>

            <!-- Page links for Company Stock Charts, Income Statements, and Balance Sheets -->
            <div class="page"><a href="/api">Company Financials</a></div>

            <div class="section">Stock News</div>

            <!-- Page link for Stock News -->
            <div class="page"> <a href="/news">Stock News</a></div>
            <!-- Section title for Sitemap -->
            <div class="section">Stock News</div>
            <!-- Page link for Sitemap -->
            <div class="page"> <a href="/sitemap">Sitemap</a></div>
            <div class="section">Video</div>
            <!-- Section title for video -->
            <div class="page"> <a href="/video">Video</a></div>
            <!-- Page link for Logout -->
            <div class="section">Logout</div>
            <div class="page"> <a href="/logout">Logout</a></div>
        </div>

    </div>

    <footer>
        <!-- Footer section with pagination links -->
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="/index">1</a>
            <a href="/api">2</a>
            <a href="/asian">3</a>
            <a href="/news">4</a>
            <a href="/land">5</a>
            <a href="/video">6</a>
            <a href="#">&raquo;</a>
        </div>
    </footer>
    <script src="/js/video.js"></script>
</body>

</html>